.body {
  height: 100vh;
  background-color: #a0d5d2;
}
.header {
  padding-top: 50px;
  padding-left: 20px;
  width: 60%;
  /* overflow: hidden; */
}
.header h1 {
  margin-inline-start: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.header p {
  line-height: 26px;
  font-size: 18px;
}
.about-us {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 80px;
  margin-top: 100px;
}

.profile {
  text-align: center;
  margin-inline-start: 16px;
}

.profile ul {
  list-style: none;
}
.profile ul li {
  margin-top: 12px;
}
.profile ul li a {
  text-decoration: none;
  color: #000;
}
