.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
}

.dashboard-main {
  height: 100vh;
  width: 100vw;
  margin-left: 250px;
  background-color: #F7F9Fa;
  padding-top: 2%;  
  overflow: scroll
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
