.parent {
  background-color: black;
}
#footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 10px 0;
}
#footer .special .copyright_nomargin {
  color: #fff;
  /* padding-left: 20px; */
  /* background-color: rgba(0, 0, 0, 0.926); */
  font-size: 17px;
  /* padding: 13px; */
}
.parent h2 {
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
#footer a {
  text-decoration: none;
  color: #fff;
  margin: 12px;
  padding: 12px 15px;
  display: inline-block;
  background: #666;
  background: var(--bs-gray);
  border-radius: 12px;
}
.icon fa-twitter alt {
  color: #fff;
}
