.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.goal_header {
  margin: 0;
  padding: 0.25em;
  color: rgba(0, 102, 130, 0.7);
  font-weight: 700;
  font-family: "Montserrat";

}

.table-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 30px;
  padding: 10px;


}

.goal-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 0.25em;
  border: 0.1em solid rgba(8, 8, 8, 0.8);
}


.createButton {
  margin-inline: auto !important;
  display: block !important;
  margin-block: 16px !important;
}


.milestone-heading {

  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px
}