.about-body {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  background: rgb(5,22,33);
  background: linear-gradient(140deg, rgba(5,22,33,1) 40%, rgba(2,72,124,1) 100%);   
}
.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;  
}

.profile h3 {
  margin-top: 30px;
  color: white;
}

.profile {
  text-align: center;
  margin-inline-start: 16px;
}


.profile ul {
  list-style: none;
  padding-left: 0;
}
.profile ul li {
  margin-top: 12px;
}
.profile ul li a {
  text-decoration: none;
  color: #fff;
}
