.images .box1 {
  position: absolute;
  top: 150px;
  right: 150px;
  background: url(../assets/photographer.jpeg) no-repeat 50% 50%;
  background-size: cover;
  width: 250px;
  border: 0.2px solid white;
  height: 350px;
}

.images .box2 {
  position: absolute;
  top: 350px;
  right: 510px;
  background: url(../assets/hiking.png) no-repeat 50% 50%;
  background-size: cover;
  width: 350px;
  border: 0.2px solid white;
  height: 450px;
}

.images .box3 {
  position: absolute;
  top: 550px;
  right: 50px;
  background: url(../assets/gym.jpeg) no-repeat 50% 50%;
  background-size: cover;
  width: 350px;
  border: 0.2px solid white;
  height: 400px;
}